html, body {
    background-color: #252525;
}

.cntr-1 {
    background-color: rgba(0, 255, 0, 0.1);
    min-height: 400px;
}

.box{
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #e5e5e5;
}

.box-2{
    height: 100px;
    background-color: rgba(00, 00, 255, 0.7);
    border: 1px solid #e5e5e5;
}

/*
p-0/1/2/3/4/5/auto
p{t/b/l/r}-0/1/2/3/4/5/auto
p{x/y}-0/1/2/3/4/5/auto


m-0/1/2/3/4/5/auto
m{t/b/l/r}-0/1/2/3/4/5/auto
m{x/y}-0/1/2/3/4/5/auto
*/