html{
    font-size: 10px;
}

body{
    margin: 0;
}
.d1, .d2, .d3{
    height: 150px;
    width: 150px;
    border: solid gold;
}

.d1{
    background-color: red;
}

.d2{
    background-color: blue;
    margin-left: 20px;
    margin-top: -100px;
    /*border-radius: 135px;*/
}

/*tag selector*/
p{ 
    background-color: black !important;
}

p::first-letter{
    font-size: 40px;
    color: yellow;
}

.para{
    color: white;
    padding: 20px;
}

/*class selector*/
.para{
    background-color: green;
}

/*id selector*/
#parag{
    background-color: orange;
}

.bt{
    display: inline-block;
    background-color: blue;
    color: white;
    width: 120px;
    border: 1px solid black;
    padding: 40px;
    text-align: center;
    border-radius: 150px;
}

.bt::before{
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}


.bt:hover{
    background: orange;
}
.list{
    list-style: none;
}


.list li::before{
    content: "🍎";
    margin-right: 15px;
    color: saddlebrown;
}

/*.list li:first-child{
    color: yellowgreen;
}

.list li:last-child{
    color: rgba(127, 255, 212, 0.803);
}*/

.list  li:nth-child(2n+1):not(.not-style) {
    color: red;
}

input{
    padding: 10px;
    background-color: maroon;
}

input:focus{
    background-color: aqua;
    color: red;
}

.d3{
    background-color: springgreen;
      transition: transform 0,9s ease;
    /*transform: translate(90px, -80px)  rotate(45deg) skew(55deg) scale(0.9);*/
}

.d3:hover{
    transform: rotate(-45deg);
}

p{
    font-size: 16px;
    font-family: monospace;
    line-height: 32px;
    letter-spacing: 1px;
    word-spacing: 16px;
    text-transform: uppercase;
    text-decoration: line-through;
    color: darkblue !important;
}

.d3{
    color: rgb(10, 10, 199) !important;
}

.d2{
    background-color: rgba(190,  237, 255, 0.7);
    /*opacity: 0.7;*/
}

.cover{
    height: 100vh;
    background-color: limegreen;
    width: 100vw;
}

p{
    font-size: 2rem;
    line-height: 2;
}

p span{
    font-size: 3em;
}