body{
    margin: 40px;
}

.grand-parent{
    background-color: gray;
    height: 900px;
    padding: 50px;
   /* position: relative;*/
}

.parent{
    background-color: aqua;
    height: 500px;
   /*position: relative;*/
}

.parent > div{
    height: 50px;
    width: 50px;
    border: 1px solid gold;
   /* position: relative;*/
   /* display: inline-block; */
}

.child-1{
    background-color: black;
   /* flex-shrink: 0;*/
    /*top: 0;*/
}

.child-2{
    background-color: rgb(197, 133, 15);
    /*top: -20px;
    left: 20px;*/
}

.child-3{
    background-color: green;
   /* top: -40px;
    left: 40px;*/
}

.child-4{
    background-color: red;
   /* top: -60px;
    left: 60px;*/
}

.child-5{
    background-color: blue;
   /* top: -80px;
    left: 80px;*/
}

/* position mode*/

.child-3{
   /*osition: relative;
    top: 20px;
    left: 20px;*/
}

.child-2{
    /*position: absolute;
    top: 20px;
    left: 20px;*/
}
/* position: absolute| relative| fixed */

/*hild-3{
    position: fixed
    top: 30px;
    left: 30px;
   /* position: relative;*/
   /* z-index: 1;
}*/

.child-2{
   /* position: relative;*/
  /*  z-index: 2; */
}

.parent{
   /* position: fixed;
    top: 180px;
    width: 100%;
    left: 0;*/
}

.child-5{
   /* flex-shrink: 0;*/
   /* position: fixed;
    top: 20px;
    left: 20px;*/
}

.child-2{
   /* position: sticky;
    top: 40px;*/
}

/* flex box*/

.parent{
   /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;*/
    display: flex;
   /* flex-direction: row;
    flex-wrap: wrap;
    align-items: start;*/
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
}

.child-3{
   /* flex-shrink: 0;*/
   /*display: flex;
    order: 3;
    flex-basis: 40%;
    flex-grow: 1;*/
}

.child-2{
 /*   width: 990px !important;*/
    /*flex-shrink: 0;
    align-self: flex-end;*/
}